* {
    font-size: 8px;
}

table {
    margin: 10px;
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    border: 1px solid black;
    padding: 2px;
}

.limited_width {
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blue_button {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    color: #003f76;
    background-color: #c7e3fd;
    transition: background-color 0.3s ease;
}

.blue_button:hover {
    background-color: #a8d5ff;
}

.green_button {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #007655;
    background-color: #c7fddf;
    transition: background-color 0.3s ease;
}

.green_button:hover {
    background-color: #b8f3c1;
}

.red_buttton {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #f9fcfa;
    background-color: #760000;
    transition: background-color 0.3s ease;
}

.red_button:hover {
    background-color: #9b96cc;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.increase {
    min-width: 500px;
}
