.grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

.grid {
    font-size: 8px;
}

.grid-item {
    overflow: scroll;
}