* {
    font-size: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 90vh;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    overflow: scroll;
}
