<!-- <p>tab-1 works!</p> -->
<!-- <img src="https://placehold.co/600x400/000000/FF0000/png" alt=""> -->

<div class="grid">
  
  <div class="grid-item">
    <p>Server heartbeat</p>
    <div class="item" *ngFor="let message of pulseMessages">
      {{ message }}
    </div>
  </div>

  <div class="grid-item">6</div>

  <div class="grid-item">
    <p>Bloco Minerado</p>
    <div class="item" *ngFor="let message of sseMessages">
      <div *ngIf="message.messageType === 'MINED_BLOCK'">
        {{ message.message }}
      </div>
    </div>
  </div>

  <div class="grid-item">
    <p>Pila Minerado</p>
    <div class="item" *ngFor="let message of sseMessages">
      <div *ngIf="message.messageType === 'MINED_PILA'">
        {{ message.message }}
      </div>
    </div>
  </div>

  
  <div class="grid-item">
    <p>Bloco Validado</p>
    <div class="item" *ngFor="let message of sseMessages">
      <div *ngIf="message.messageType === 'VALID_BLOCK'">
        {{ message.message }}
      </div>
    </div>
  </div>

  <div class="grid-item">
    <p>Pila validado</p>
    <div class="item" *ngFor="let message of sseMessages">
      <div *ngIf="message.messageType === 'VALID_PILA'">
        {{ message.message }}
      </div>
    </div>
  </div>

</div>